.todoform {
  background: url("../../Assets/image/bgimage.jpg") center/cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 296px;
  padding-top: 70px;
  box-sizing: border-box;
}

.form {
  width: 579px;
  margin: 0 auto;
}

.title h1 {
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
  text-align: left;
  margin-bottom: 18px;
}

.input-group {
  position: relative;
}

.input-group input {
  width: 579px;
  box-sizing: border-box;
  padding: 25px 66px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

::placeholder {
  color: #cecece;
}

:-ms-input-placeholder {
  color: #cecece;
}

::-ms-input-placeholder {
  color: #cecece;
}

.input-group button {
  position: absolute;
  top: 20px;
  right: 19px;
  border: none;
  padding: 0;
  background: transparent;
  color: #00a3ff;
  font-size: 29px;
}
