.todo{
display: flex;
width: 50%;
margin: 0 auto;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
border-bottom: 1px solid rgba(128, 128, 128, 0.432);
height: 60px;
border-radius: 0px 0xp 10px;
}
.list p{
padding: 0 50px;    
font-size: 30px;
color: #00A3FF;
margin-top: 15px;    
}
.list h1{
font-size: 25px;        
padding: 0 30px;
margin-top: 15px;   
}
